@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
}

.container{
    margin: auto;
    width: 70%;
}

/* ----------------------------------------Header----------------------------------------- */

header{
    padding: 20px;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
}





/* ----------------------------------------Main-----------------------------------------  */

/* Search */
input{
    width: 90%;
    height: 39px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.search-button{
    height: 12px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searching{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

i{
    font-size: 200px;

}


/* card styling */
.pokemon-card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.info{
    display: flex;
    flex-direction: column;
}

.pokemon-name{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Lists */
.pokemon-type{
    margin-right: 200px;
    padding-left: 0px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    font-size: 15px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    border-radius: 10px;
}

/* Types: */
.normal{
    background-color: gray;
}

.fire{
    background-color: red;
}

.water{
    background-color: blue;
}

.electric{
    background-color: yellow;
}

.grass{
    background-color: greenyellow;
}

.ice{
    background-color: aqua;
}

.fighting{
    background-color: brown;
}

.poison{
    background-color: purple;
}

.ground{
    background-color: sandybrown;
}

.flying{
    background-color: lightblue;
}

.psychic{
    background-color: magenta;
}

.bug{
    background-color: darkgreen;
}

.rock{
    background-color: darkgray;
}

.ghost{
    background-color: darkviolet;
}

.dragon{
    background-color: darkorange;
}

.dark{
    background-color: black;
}

.steel{
    background-color: silver;
}

.fairy{
    background-color: lightpink;
}

.stats {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .stat {
    width: 150px;
    height: 100px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .stat-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .stat-value {
    font-size: 36px;
  }
  